<?xml version='1.0' encoding='utf-8'?>
<widget id="me.tehsis.rabbitwars" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rabbit Wars</name>
    <description>
      Save the rabbit planet!
    </description>
    <author email="tehsis@gmail.com" href="http://tehsis.me">
      Pablo Teradillos
    </author>
    <author email="bunny@gmail.com" href="http://tehsis.me">
      Yohana Etchemendy
    </author>
    <content src="index.html" />
    <access origin="*facebook.com*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="TwitterConsumerKey" value="&lt;Twitter Consumer Key&gt;" />
    <preference name="TwitterConsumerSecret" value="&lt;Twitter Consumer Secret&gt;" />
    <engine name="browser" spec="^4.1.0" />
    <engine name="ios" spec="~4.4.0" />
    <plugin name="cordova-plugin-facebook4" spec="^1.9.1">
        <variable name="APP_ID" value="358865204487691" />
        <variable name="APP_NAME" value="rabbitwars" />
    </plugin>
    <plugin name="cordova-plugin-nativestorage" spec="^2.2.2" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
