.modal-leaderboard {
  position: absolute;
  top: 55px;
  left: 5%;
  background: white;
  border-radius: 3%;
  width: 90%;
  height: 440px;
  animation: 'fade-from-up' 200ms;

  @keyframes fade-from-up {
    from {
      top: -100px;
    }

    to {
      top: 55;
    }
  }

  .leaderboard-header {
    background-image: url('../assets/images/asteroids-bg.png');
    background-size: cover;
    height: 85px;
    text-align: center;

    h2 {
      padding-top: 25px;
      font-weight: 400;
    }
  }

  ol {
    margin-top: 20px;
    width: 70%;
    margin-left: 15%;
    padding: 0;
    counter-reset: item;
    list-style-type: none;

    > li {
      counter-increment: item;
      line-height: 40px;

      &:before {
        content: counter(item) ' - ';
      }
    }

    .player-points {
      float: right;
    }
  }

  &.modal-show {
    display: block;
  }

  &.modal-hide {
    display: none;
  }

  .close-button {
    background-color: #D0D2D3;
    border: none;
    border-radius: 100%;
    right: 20px;
    top: 20px;
    width: 13px;
    height: 13px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    background-image: url('../assets/images/close-button.png');
    background-repeat: no-repeat;
  }

  .play-button {
    background-color: white;
    width: 144px;
    position: absolute;
    left: 99px;
    bottom: 35px;
    height: 45px;
    border-radius: 5%;
    border: 1px solid #2E364E;
  }
}