@font-face {
    font-family: "TRON";
    src: url("tron.eot"); /* IE9 */
    src: url("tron.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("tron.woff") format("woff"), /* chrome, firefox */
    url("tron.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("tron.svg#TRON") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


